[
    {
        "Name": "网络1",
        "ConnectionName": "以太网",
        "IpAddress": "192.168.1.100",
        "SubnetMask": "255.255.255.0",
        "Gateway": "192.168.1.1",
        "Dns1": "8.8.8.8",
        "Dns2": "1.1.1.1"
    },
    {
        "Name": "网络2",
        "ConnectionName": "以太网",
        "IpAddress": "192.168.2.100",
        "SubnetMask": "255.255.255.0",
        "Gateway": "192.168.2.1",
        "Dns1": "8.8.8.8",
        "Dns2": "1.1.1.1"
    },
]